<div class="align-center">
    <h1>Sails TodoApp</h1>
</div>
<div class="container">
    <form action="/create" method="post">
        <input class="form-control" type="text" name="content" placeholder="請輸入代辦事項"></input>
        <br>
        <button class="btn btn-primary btn-block" type="submit">新增代辦事項</button>
    </form> 
    <br>
    <hr>
    <div>
        <ul>
        <% for(var i=0; i<todos.length; i++) {%>
           <li><%= todos[i].content %> <a href="/todos/<%= todos[i].id %>"><button class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></button></a> <a href="/delete/<%= todos[i].id %>"><button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button></a></li>
           <hr>
        <% } %>
        </ul>        
    </div>       
</div>
